= simple_form_for :content, { url: submit_content_path } do |f| 
  .form-title
    = f.label :title, "title"
    = f.text_field :title, size: 50 
  .form-url
    = f.label :url, "url"
    = f.text_field :url, size: 50
  %b.or OR
  .form-description
    = f.label :description, "text"
    = f.text_area :description, rows: 4, cols: 49
    
  .form-submit= f.submit "Submit", class: "btn"
  
%p.text-center 	Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.


