-# Should be wrapped in a ol-tag for showing numbers
%li.each-post
  - if each_post.type_oh == 0 # news
    = link_to each_post.title, each_post.url, target: "_blank" 
    %span.small= "(" + helper_get_root_url(each_post.url) + ")" unless each_post.url.nil?
  - else # questions
    = link_to "ASK FN: #{each_post.title}", question_path(each_post.id)
  .small
    = each_post.user.username
    |
    = time_ago_in_words(each_post.created_at).gsub('about', '') + " ago"


